*{
    padding: 0;
    margin: 0;
}

header {
    height: 80px;
    background-color: darkslategray;
    color: white;
    text-align: center;
}

#pais{
    width: 10%;
    margin-right: 115%;
}

img{
    width: 90%;
    height: auto;
    margin-left: 5%;
}

article{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
#Capitular{
    font-size: 60px;
}

h1{
   font-size: 30px;
    width: 50%;
    margin: auto;
}

h2{
    font-size: 20px;
    width: 50%;
    margin: auto;
}

p{
    width: 50%;
    margin: auto;
}

#banner{
    width: 50%;
    margin-left: 25%;
}

#cositis{
    width: 15%;
    margin-left: 40%;
}