*{
    padding: 0;
    margin: 0;
    background-color: black;
}

h1 {
    font-family: impact; 
    margin-left: 40%;
    font-style: italic;
    color: aliceblue;
}
   
h2 {
     font-family: inherit;   
     margin-left: 43%;
    color: aliceblue;
    }

h3 {
    color: aliceblue;
}
    
.Contenedor {
    display: flex; 
    flex-direction: column;
}

.uno {
    display: flex;
    flex-direction: row;
}

.vector {margin-left: 39%; }

.dos {
    display: flex;
    flex-direction: row;
}

.decor{margin-left: 39%;}

.tres {
    display: flex;
    flex-direction: row;
}

.uuno {}

#uuno1 {flex: 1}

#uuno2 {flex: 1}

#uuno3 {flex: 1}


img {
  filter: grayscale(100%);
}


.intro {
    width: 20%;
    height: 20%;
    margin-left: 39%;  
}

a:link {
  color: green;
}

a:visited {
  color: green;
}

a:hover img{
  color: red;
  filter: grayscale(0%);
}

a:active {
  color: yellow;
} 
